<?xml version="1.0" encoding="utf-8"?>
<manifest package="bj.vinylbrowser"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <compatible-screens>

        <!-- all small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="480"
            android:screenSize="small"/>
        <screen
            android:screenDensity="640"
            android:screenSize="small"/>

        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="420"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="480"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="560"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="640"
            android:screenSize="normal"/>
    </compatible-screens>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".search.SearchActivity"/>
        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="7440ffd2d3d4aaf13e86b7bd633aae34"/>

        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name="bj.vinylbrowser.search.SearchActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.searchable" -->
        <!-- android:resource="@xml/searchable"/> -->
        <!-- </activity> -->

        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- <activity -->
        <!-- android:name="bj.vinylbrowser.label.LabelController" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"/> -->

        <!--<activity-->
        <!--android:name=".master.MasterActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
        <!--android:name=".release.ReleaseActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
        <!--android:name=".artistreleases.ArtistReleasesActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
        <!--android:name=".marketplace.MarketplaceListingActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
        <!--android:name=".order.OrderActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <!--<activity-->
        <!--android:name=".singlelist.SingleListActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <activity
            android:name=".about.LicenseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AboutActivity"/>
        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AboutActivity"/>
    </application>
</manifest>